/* ContactInfo.css */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2; /* Adjust the background color as needed */
    color: #333; /* Adjust text color as needed */
  }
  
  .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 19rem; /* Adjust the margins as needed */
    text-align: center;
  }
  
  .info-label {
    font-size: 28px;
    color: #ffad00;
  }
  
  .info-value {
    font-size: 17px;
    padding-top: 10px;
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .contact-info {
      padding: 10px;
    }
  
    .contact-item {
      margin: 1rem 1rem; /* Adjust the margins for smaller screens */
    }
  
    .info-label {
      font-size: 24px; /* Adjust the font size for smaller screens */
    }
  
    .info-value {
      font-size: 16px; /* Adjust the font size for smaller screens */
    }
  }
  
  /* End of ContactInfo.css */
  