@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Reset some default styles using the asterisk (*) selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the navigation bar */
.navbar {
  background-color: #12111f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
}

/* Style for the logo */
.logo{
  display: flex;
}
.logo img {
  width: 40px; 
  margin-right: 10px;
}


/* Style for the menu */
.menu ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin-left: 35.5rem; 
}

.menu li {
  margin: 0 40px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}
